html {
  font-size: 20px;
}

body {
  background-color:dimgrey;
}

h1 {
  font-family: "arial";
  text-align: center;
}

h2 {
  font-family: "arial";
  text-align: center;
  color: "white";
  font-size: 10px;
}

#drop {
  position:relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

}

#boombox {
  width: 100%;
}

#target{
  width: 25.381%;
  position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 62.9%;
}

#cassette {
  z-index: 9;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:20%;
}

@media screen and (min-width: 800px){
  #drop  { width : 72%; }
  #cassette { width : 18%; }
  h2 { font-size: 13px; }
}

@media screen and (min-width: 1200px){
  #drop  { width : 60%; }
  #cassette { width : 15%; }
  h2 { font-size: 16px }
}

@media screen and (min-width: 1600px){
  #drop  { width : 40%; }
  #cassette { width : 10%; }
  h2 { font-size: 20px }
}

.glow {
  -webkit-animation: glow 2s infinite ease-in-out;
  animation: glow 2s infinite ease-in-out;
}

@keyframes glow {
   0% { -webkit-filter: brightness(100%); filter: brightness(100%); }
   50% { -webkit-filter: brightness(175%); filter: brightness(175%); }
   100% { -webkit-filter: brightness(100%); filter: brightness(100%); }
}

.flames {
  background-image: url('assets/fire.jpg');
  background-repeat: repeat;
  -webkit-animation: shake 0.5s infinite;
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% { background-position: 1px 1px; }
    10% { background-position: -1px, -2px; }
    20% { background-position: -3px, 0px; }
    30% { background-position: 3px, 2px;}
    40% { background-position: 1px, -1px; }
    50% { background-position: -1px, 2px; }
    60% { background-position: -3px, 1px); }
    70% { background-position: 3px, 1px; }
    80% { background-position: -1px, -1px; }
    90% { background-position: 1px, 2px; }
    100% { background-position: 1px, 1px; }
}

.party {
  -webkit-animation: bump 1s infinite ease-in-out, rainbow 1.5s infinite linear;
  animation: bump 1s infinite ease-in-out, rainbow 1.5s infinite linear;
}

@keyframes rainbow {
  0% { -webkit-filter: hue-rotate(0deg); filter: hue-rotate(0deg); }
  50% { -webkit-filter: hue-rotate(180deg); filter: hue-rotate(180deg); }
  100% { -webkit-filter: hue-rotate(360deg); filter: hue-rotate(360deg); }
}

@keyframes bump {
  0% {
    -ms-transform: scale(1, 1); /* IE 9 */
    -webkit-transform: scale(1, 1); /* Safari */
    transform: scale(1, 1);
  }
  50% {
    -ms-transform: scale(1.2, 1.2); /* IE 9 */
    -webkit-transform: scale(1.2, 1.2); /* Safari */
    transform: scale(1.2, 1.2);
  }
  100% {
    -ms-transform: scale(1, 1); /* IE 9 */
    -webkit-transform: scale(1, 1); /* Safari */
    transform: scale(1, 1);
  }
}
